# library's

In [8]:
from urllib.request import urlopen
from bs4 import BeautifulSoup as soup

In [9]:
import pandas as pd
import numpy as np

In [10]:
https =urlopen('https://www.flipkart.com/laptops/~laptops-under-rs50000/pr?sid=6bo%2Cb5g%27')
webdata=https.read()

In [11]:
soup1 =soup(webdata)

In [5]:
len(soupdata.findAll('a',{'class':'ge-49M'}))

10

In [12]:
pages_links =soup1.findAll('a',{'class':'ge-49M'})
domain='https://www.flipkart.com/laptops/~laptops-under-rs50000/pr?sid=6bo%2Cb5g%27&page='
for i in range(2,20):
    link=domain+str(i)  # concatenations
    pages_data=urlopen(link)
    webdata1=pages_data.read()
    webdata+=webdata1
    soupdata =soup(webdata,'html.parser')

In [13]:
#Soup = soup(soupdata)
container =soupdata.findAll('div',{'class':'_2kHMtA'})
print(len(container))

446

In [14]:
import re

## ProductName

In [15]:
ProductName=[]
for i in container:
    pr =i.find('div',{'class':'_4rR01T'}).text[0:10]
    #print(pr.text[0:10])
    try:
        ProductName.append(re.findall('HP|AXL|realme|MSI|ASUS|Lenovo|APPLE|Redmi|DELL|acer|realme|LG|Mi|Nokia',pr)[0])
        #print(ProductName)
    except:
        ProductName.append('other_brand')
        #print(ProductName)

# star ratings

In [19]:
star = []
for i in container:
    pr=i.find('div',{'class':'_3LWZlK'})
    try:
        star.append(pr.text)
    except:
        star.append('4')

# Rating and review

In [29]:
Rating=[]
Review=[]
for i in container:
    pr=i.find('span',{'class':'_2_R_DZ'})
    try:
        Ra=(re.findall('\d+,?\d*',pr.text))
        Rating.append(Ra[0])
        Review.append(Ra[1])
    except:
        Rating.append(0)
        Review.append(1)

# cpu

In [31]:
cpu =[]
for i in container:
    info =i.findAll('li',{'class':'rgWa7D'})
    processors = info[0].text
    #print(processors)
    try:
        cpu.append(re.findall('i\d|M\d|Ryzen|Celeron|Athlon',processors)[0])
    except:
        cpu.append('local_processors')

## ram

In [34]:
ram=[]
for i in container:
    info =i.findAll('li',{'class':'rgWa7D'})
    r1 =info[1].text
    try:
        ram.append(re.findall('[\d]* GB',r1)[0].replace('GB',''))
    except:
        ram.append(2)

# storage

In [35]:
storage =[]
for i in container:
    info =i.findAll('li',{'class':'rgWa7D'})
    s1=info[3].text
    try:
        storage.append(re.findall('[\d]* GB SSD',s1)[0].replace('GB SSD',''))
    except:
        storage.append(250)

## size

In [36]:
size = []
for i in container:
    info =i.findAll('li',{'class':'rgWa7D'})
    s1=info[4].text
    try:
        size.append(re.findall('[\d.\d]* cm',s1)[0].replace('cm',''))
        
    except:
        size.append(12.44)

# actual_price

In [37]:
actual_price =[]
for i in container:
    price =i.find('div',{'class':'_3I9_wc _27UcVY'}).text
    try:
        actual_price.append(re.findall('\d+,?\d*',price)[0].replace('₹','').replace(',',''))
       
    except:
        actual_price.append(50000)

# flip_site_offer

In [38]:
flipkart_offer =[]
for i in container:
    price =i.find('div',{'class':'_30jeq3 _1_WHN1'}).text
    try:
        flipkart_offer.append(re.findall('\d+,?\d*',price)[0].replace('₹','').replace(',',''))
       
    except:
        flipkart_offer.append(50000)

## data frame

In [39]:
df =pd.DataFrame({'ProductName':ProductName,'stars':star,'Rating':Rating,'Reviews':Review,'CPU':cpu,'Ram':ram,'storage'
                 :storage,'size':size,'actual_price':actual_price,'flipkart_offer':flipkart_offer})
df

,ProductName,stars,Rating,Reviews,CPU,Ram,storage,size,actual_price,flipkart_offer
0,ASUS,4.2,258,24,Celeron,4,128,29.46,30990,20990
1,ASUS,3.6,11,1,i3,8,512,39.62,51990,38236
2,ASUS,4.2,"2,860",278,i3,8,512,39.62,56990,34990
3,Lenovo,4.1,"1,392",151,Celeron,8,256,39.62,46090,26989
4,Lenovo,4.3,"5,381",510,i3,8,512,39.62,55490,36950
...,...,...,...,...,...,...,...,...,...,...
441,other_brand,4.7,15,4,i7,16,512,35.56,69990,48990
442,HP,3.3,14,1,Celeron,4,250,12.44,33390,21990
443,HP,4,0,1,i5,8,512,39.62,76800,49000
444,ASUS,5,5,2,i5,8,256,35.56,66990,46990
445,ASUS,4,0,1,i3,8,512,39.62,49990,39500

#  pandas dataframe to convert data into csv file

In [40]:
df.to_csv('flipkart.csv')